
@media screen and (max-width:1199px) {
    
    .dis{
        display: none;
    }
    .menu{

        display: none;

    }
    .shop{
        display: none;
    }
}
@media screen and (min-width:576) and (max-width:992px) {
    
    

}